body {
    font-family: 'Nunito';
}

h1 {
    text-shadow: 4px 4px black;
}

tr {
    background-color: white;
    /* text-align: center; */
}

.bg-img {
    background: url(img/bg-2.png); 
    background-size:cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: top;
}

.animate {
    transition: .5s ease;
}

.animate:hover{
    box-shadow: 0 0 0 2px #000000;
    transition: .5s ease;
}

#debate-count-select {
    background: transparent;
    border: 0;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

#debate-count-select option { 
    color: black; 
}

#debate-count-select::-ms-expand {
    color: white;
    text-shadow: 2px 2px black;
}

@media (max-width: 620px) {
  .container {
    overflow-y: auto;
    overflow-x: auto;
  }
}

/* adding the kyle background that i use everyywhere */

.gradient-background {
    background: linear-gradient(45deg, rgba(207,120,224,1) 25%, rgba(100,249,179,1));
    background-size: 400% 400%; /* Adjust for animation speed */
    animation: gradientAnimation 20s linear infinite;
}

/* Create a keyframe animation for the background */
@keyframes gradientAnimation {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}