h1 {
    font-size: 80px;
}

#debate-count-select {
    background: transparent;
    border: 0;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

#debate-count-select option { 
    color: black; 
}

#debate-count-select::-ms-expand {
    color: white;
    text-shadow: 2px 2px black;
}

::placeholder { 
    color:  white;
    text-shadow: 2px 2px black;
}