body {
    /*font-size: 80px;*/
    font-family: 'Didact Gothic';
}


.animate {
    transition: .5s ease;
}

.animate:hover{
    box-shadow: 0 0 0 2px #000000;
    transition: .5s ease;
}

#debate-count-select {
    background: transparent;
    border: 0;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

#debate-count-select option { 
    color: black; 
}

#debate-count-select::-ms-expand {
    color: white;
    text-shadow: 2px 2px black;
}

::placeholder { 
    color:  white;
    text-shadow: 2px 2px black;
}